* {
  font-family: cambria;
  box-sizing: border-box;
}
* b {
  font-family: Algeria;
}
.dark-mode {
  background-color: rgb(20, 20, 20);
  color: white;
}
.dark-mode p {
  color: white;
}
.dark-mode h2,
h3 {
  color: rgb(184, 87, 8);
}
.dark-mode .testi p {
  color: black;
}
.dark-mode footer {
  background-color: rgb(17, 16, 16);
}
.dark-mode footer .pages h3 {
  color: rgb(27, 13, 223);
}
.dark-mode footer .docs h3 {
  color: rgb(27, 13, 223);
}
.dark-mode footer .social h3 {
  color: rgb(27, 13, 223);
}
.dark-mode footer .contact h3 {
  color: rgb(27, 13, 223);
}
.dark-mode .product .product_container .item:hover {
  box-shadow: 0px 3px 65px 0px rgba(255, 255, 255, 0.3);
}
.dark-mode .container {
  background-color: rgb(15, 15, 85);
}
.dark-mode a {
  color: blueviolet;
}
.logo {
  float: left;
  width: 52%;
}
.logo img {
  width: 75px;
  height: 75%;
}
.nav {
  background-color: rgb(128, 76, 28);
  padding: 1%;
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  overflow: hidden;
  z-index: 9;
  box-shadow: 0px 3px 65px 0px rgb(87, 56, 35);
}
.nav_top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.nav_side {
  float: right;
}
.search input[type="text"] {
  border: none;
  font-size: 15px;
  float: right;
  margin-top: 60px;
  border-radius: 15px;
  background-image: url("images/icon.jpg");
  background-position: -8px;
  background-size: cover;
}
.nav_side button {
  height: 5px;
}
li {
  list-style-type: none;
}
#dark {
  background-image: url("images/dark.png");
  border: none;
  padding: 10px;
  margin-left: 10px;
  background-size: cover;
  background-color: rgb(128, 76, 28);
}
#light {
  background-image: url("images/light.png");
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-size: cover;
  background-color: rgb(128, 76, 28);
}
.nav_side a {
  text-decoration: none;
  padding: 8px;
  margin: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: cosmic, sans-serif;
  font-size: 15px;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.nav_side a:hover {
  color: orange;
  transition: all 1s ease;
}
.main {
  height: 80%;
  width: 100%;
  position: relative;
}
.main .bg-image {
  background-image: url("images/main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main .bg-text {
  padding-top: 15%;
  padding-bottom: 15%;
  transform: translate(0%, -100%);
  background-color: rgba(121, 91, 53, 0.4);
}
.main .bg-text h2 {
  font-size: 370%;
  font-family: Algeria;
  font-weight: bolder;
  font-family: cambria;
  text-align: center;
  color: rgb(0, 0, 0);
  line-height: 40px;
}
.main .bg-text h2 b {
  color: rgb(238, 255, 0);
}
.main .bg-text h2 span {
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  line-height: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.main .bg-text h2 span b {
  color: rgb(0, 0, 0);
}
.main .bg-text .btn {
  margin-top: 10%;
  align-items: center;
  padding-bottom: 60px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .bg-text .btn a {
  text-decoration: none;
  margin: 50px;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  font-family: cosmic, sans-serif;
  border: 2px solid white;
  border-radius: 10px;
}
.main .bg-text .btn a:hover {
  background-color: balck;
  color: rgb(0, 81, 255);
  border: none;
  border-bottom: 4px solid orange;
  transition: 0.5s;
}
.product {
  padding-bottom: 50px;
}
.product h2 {
  font-size: 35px;
  text-align: center;
  padding: 20px;
}
.product .product_container {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
.product .product_container .item {
  width: 33.33%;
  margin: 10px;
  height: auto;
}
.product .product_container .item:hover {
  box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.15);
}
.product .product_container .item .item_img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.product .product_container .item .item_img img {
  width: 100%;
  height: 250px;
}
.product .product_container .item .item_content {
  text-align: center;
}
.product .product_container .item .item_content h3 {
  padding: 10px;
  font-size: 25px;
  font-family: cosmic, sans-serif;
}
.product .product_container .item .item_content p {
  padding: 10px;
  font-size: 15px;
  font-family: cosmic, sans-serif;
}
.product .product_container .item .item_content a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #4a149c;
  color: white;
  font-family: cosmic, sans-serif;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  transition: 0.5s;
}
.product .product_container .item .item_content a:hover {
  background-color: balck;
  color: orange;
  border: none;
  border-bottom: 4px solid orange;
  transition: 0.5s;
}
.product .product_btn {
  margin-top: 50px;
  text-align: center;
}
.product .product_btn a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #4a148c;
  color: white;
  font-family: cosmic, sans-serif;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  transition: 0.5s;
}
.product .product_btn a:hover {
  background-color: balck;
  color: orange;
  border: none;
  border-bottom: 4px solid orange;
  transition: 0.5s;
}
.keypoint {
  padding: 50px;
}
.keypoint h2 {
  font-size: 35px;
  text-align: center;
  padding: 10px;
}
.keypoint .key_container {
  display: flex;
}
.keypoint .key_container .key_content {
  width: 40%;
  padding: 20px;
  float: left;
}
.keypoint .key_container .key_content li {
  list-style: none;
  margin: 10px;
  padding: 10px;
  border-left: 2px solid orange;
  text-align: left;
  font-family: cosmic, sans-serif;
  box-shadow: 0px, 3px, 65px, 0px, rgba(0, 0, 0, 0.15);
}
.keypoint .key_container .key_img {
  float: right;
  width: 40%;
  margin-left: 100px;
}
.keypoint .key_container .key_img img {
  width: 100%;
}
.testi {
  padding: 60px;
}
.testi h2 {
  font-size: 35px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
.testi .testi_container {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.testi .testi_container .carousel_slide {
  overflow: hidden;
}
.testi .testi_container .carousel-inner {
  background-color: white;
  box-shadow: none;
}
.testi .testi_container .item {
  width: 100%;
  padding: 50px;
  background-color: white;
  box-shadow: none;
}
.testi .testi_container .item .item_img {
  width: 100%;
  height: 100px;
  text-align: center;
  /* overflow:hidden; */
}
.testi .testi_container .item .item_img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.test .test_container .item .item_content {
  text-align: center;
}
.test .test_container .item .item_content h3 {
  padding: 10px;
  font-size: 25px;
  font-family: cosmic, sans-serif;
}
.test .test_container .item .item_content p {
  padding: 10px;
  font-size: 15px;
  font-family: cosmic, sans-serif;
}
.team {
  padding: 40px;
}
.team h2 {
  font-size: 35px;
  text-align: center;
  padding: 20px;
  font-family: chewy;
}
.team h2 b {
  font-size: 60px;
  font-family: algeria;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #ff00ea;
}
.team .team_container {
  display: flex;
}
.team .team_container .team_video {
  width: 40%;
  padding: 20px;
}
.team .team_container .team_video video {
  width: 100%;
  border: 10px solid orange;
  outline: none;
}
.team .team_container .team_content {
  width: 50%;
  padding: 20px;
  margin-left: 50px;
}
.team .team_container .team_content p {
  padding: 10px;
  font-size: 15px;
  font-family: cosmic, sans-serif;
}
.feed {
  padding: 50px;
  background-image: url("images/img8.jpg");
  background-size: cover;
}
.feed h2 {
  color: rgb(199, 72, 40);
  font-size: 35px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-family: cosmic, sans-serif;
}
.feed .feed_form {
  text-align: center;
}
.feed .feed_form form input {
  width: 30%;
  margin: 10px;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.feed .feed_form form input[type="number"] {
  width: 30%;
  margin: 10px;
  padding: 8px;
}
.feed .feed_form form textarea {
  width: 30%;
  margin: 10px;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.feed .feed_form form button {
  background-color: rgb(197, 19, 19);
  border-radius: 5px;
  color: white;
  width: 31%;
  margin: 10px;
  padding: 8px;
  outline: none;
  border: none;
}
.feed .feed_form form button:hover {
  background-color: balck;
  color: orange;
  border: none;
  border-bottom: 4px solid orange;
  transition: 0.5s;
}
.about {
  padding: 100px;
}
.about h2 {
  color: orange;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-family: cosmic, sans-serif;
}
.about p {
  text-align: center;
  padding: 10px;
  text-justify: inter-word;
  font-size: 15px;
  line-height: 25px;
  font-family: cosmic, sans-serif;
}
.signup {
  padding: 100px;
}
.signup h2 {
  color: orange;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-family: cosmic, sans-serif;
}
.signup .signup_form {
  border: 3px solid #f1f1f1;
}
.signup .signup_form .container .container_box button {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  width: 15%;
  background-color: #4a149c;
  color: white;
  font-family: cosmic, sans-serif;
  border: 2px solid white;
  border-radius: 10px;
}
.signup .signup_form .container .container_box button:hover {
  background-color: balck;
  color: orange;
  border: none;
  border-bottom: 4px solid orange;
  transition: 0.5s;
}
.login {
  padding: 100px;
}
.login h2 {
  color: orange;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-family: cosmic, sans-serif;
}
.login .login_form {
  border: 3px solid #f1f1f1;
}
.login .login_form .container .container_box button {
  text-decoration: none;
  padding: 10px;
  width: 20%;
  background-color: #4a149c;
  color: white;
  font-family: cosmic, sans-serif;
  border: 2px solid white;
  border-radius: 10px;
}
.login .login_form .container .container_box button:hover {
  background-color: balck;
  color: orange;
  border: none;
  border-bottom: 4px solid orange;
  transition: 0.5s;
}
.container {
  padding: 25px;
  background-color: lightblue;
}
.login .container .container_box {
  padding: 10px;
}
.login .container .container_box button {
  float: center;
}
.login .container .container_box p {
  float: right;
}
.login .container .container_box p a {
  padding: 2px;
}
#fp {
  padding-left: 15px;
}
.login .container input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  margin: 8px 0px;
  padding: 12px 20px;
  border: 2px solid orange;
  box-sizing: border-box;
}

.register .container input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  margin: 8px 0px;
  padding: 12px 20px;
  border: 2px solid orange;
  box-sizing: border-box;
}
.register {
  padding: 100px;
}
.register h2 {
  color: orange;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-family: cosmic, sans-serif;
}
.register .register_form {
  border: 3px solid #f1f1f1;
}
.register .register_form .container .container_box button {
  text-decoration: none;
  padding: 10px;
  width: 15%;
  background-color: #4a149c;
  color: white;
  font-family: cosmic, sans-serif;
  border: 2px solid white;
  border-radius: 10px;
}

.signup .container input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  margin: 8px 0px;
  padding: 12px 20px;
  border: 2px solid orange;
  box-sizing: border-box;
}
.register .register_form .container .container_box button:hover {
  background-color: balck;
  color: orange;
  border: none;
  border-bottom: 4px solid orange;
  transition: 0.5s;
}
.container {
  padding: 25px;
  background-color: lightblue;
}
.register .container .container_box {
  padding: 10px;
}
.register .container .container_box button {
  float: center;
}
.register .container .container_box p {
  float: right;
}
.register .container .container_box pre {
  float: center;
}
.register .container .container_box p a {
  padding: 2px;
}
.blog {
  padding: 100px;
}
.blog h2 {
  color: rgb(255, 123, 0);
  font-size: 35px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-family: cosmic, sans-serif;
}
.blog .blog_container {
  display: flex;
}
.blog .blog_container .blog_image {
  border-right: 2px solid plum;
  padding: 20px;
}
.blog .blog_container .blog_image img {
  border-radius: 50%;
  background-color: grey;
  width: auto;
}
.blog .blog_container .blog_message {
  width: 70%;
  padding: 10px;
  margin-left: 40px;
  margin-top: 40px;
}
.blog .blog_container .blog_message p {
  text-align: justify;
}
.contact_container {
  padding: 100px;
}
.contact_container h2 {
  color: orange;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-family: cosmic, sans-serif;
}
.contact_container .g_map {
  border: 10px solid orange;
}
.contact_container .contact_content {
  padding: 20px;
}
.contact_container .contact_content p {
  padding: 10px;
  font-size: 15px;
  line-height: 25px;
  font-family: cosmic, sans-serif;
  text-align: center;
  text-decoration: solid;
}
footer {
  background-color: #99a3a4;
  padding: 50px;
}
footer .pages {
  text-align: center;
}
footer .pages h3 {
  color: rgb(17, 17, 17);
  font-size: 20px;
  font-family: cosmic, sans-serif;
  padding: 5px;
}
footer .pages a {
  text-decoration: none;
  margin: 10px;
  color: purple;
  font-size: 15px;
  font-family: cosmic, sans-serif;
}
footer .pages a:hover {
  color: white;
}
footer .docs {
  text-align: center;
}
footer .docs h3 {
  color: rgb(17, 17, 17);
  font-size: 20px;
  font-family: cosmic, sans-serif;
  padding: 5px;
}
footer .docs a {
  text-decoration: none;
  margin: 10px;
  color: purple;
  font-size: 15px;
  font-family: cosmic, sans-serif;
}
footer .docs a:hover {
  color: white;
}
footer .social {
  text-align: center;
}
footer .social h3 {
  color: rgb(17, 17, 17);
  font-size: 20px;
  font-family: cosmic, sans-serif;
  padding: 5px;
}
footer .social a {
  margin: 10px;
  color: purple;
  font-size: 30px;
  text-decoration: none;
}
footer .social a:hover {
  color: whitesmoke;
}
footer .contact {
  text-align: center;
}
footer .contact h3 {
  color: rgb(17, 17, 17);
  font-size: 20px;
  font-family: cosmic, sans-serif;
  padding: 5px;
}
footer .contact a {
  margin: 10px;
  color: purple;
  font-size: 30px;
  text-decoration: none;
}
footer .contact a:hover {
  color: whitesmoke;
}
footer p {
  text-align: center;
  padding: 10px;
}
footer p:hover {
  color: white;
  transition: all 0.5s ease;
}

.review {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: #c5b6c4;
  font-family: cambria;
  margin: 0;
}

.review button {
  background-color: #fff0ec;
  border: 0;
  border-radius: 3px;
  color: blue;
  font-size: 14px;
  padding: 10px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.review button:hover {
  color: saddlebrown;
}

.modal-container {
  background-color: rosybrown;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: royalblue;
  border-radius: 5px;
  box-shadow: royalblue;
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}
